@using MyAspNetCoreApp.Web.ViewModels
@{
    ViewData["Title"] = "Update";
}

@model ProductViewModel

<h1>Ürün Güncelleme</h1>

<form asp-controller="Products" asp-action="update" method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ImagePath" />
  

    <div class="mb-3"> 
        @if (!String.IsNullOrEmpty(Model.ImagePath))
        {
            <img style="width:100px; height:100px;" src="/images/@(Model.ImagePath)" />
        }
        else
        {
            <img style="width:100px; height:100px;" src="/images/noimage.jpg" />
        }
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün İsmi:</label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Ürün Fiyatı:</label>
        <input class="form-control" asp-for="Price">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Ürün Stok Adedi:</label>
        <input class="form-control" asp-for="Stock">
        <span class="text-danger" asp-validation-for="Stock"></span>
    </div>
    <div class="mb-3">
        <select class="form-select" asp-for="Color" asp-items="@ViewBag.ColorSelect">
            <option value="">Renk Seçiniz</option>
        </select>
        <span class="text-danger" asp-validation-for="Color"></span>
    </div>

    <div class="form-check">
        <input class="form-check-input" asp-for="IsPublish">
        <label class="form-check-label" asp-for="IsPublish">
            Yayınlansın mı?
        </label>
    </div>

    <div class="mb-3 mt-3">
        <span>Ürün Kaç Ay Stokta Kalıcak</span>
        @foreach (var item in @ViewBag.Expire as Dictionary<string, int>)
        {
            <div class="form-check">

                <input checked="@(item.Value == ViewBag.ExpiredValue?true:false)" class="form-check-input" type="radio" id="@(item.Value)Expire" asp-for="Expire" value="@item.Value">

                <label class="form-check-label" for="@(item.Value)Expire">
                    @item.Key
                </label>
            </div>
        }
        <span class="text-danger" asp-validation-for="Expire"></span>
    </div>

    <div class="form-floating mb-3">
        <textarea asp-for="Description" class="form-control" placeholder="Ürün Açıklaması" style="height: 100px"></textarea>
        <label asp-for="Description">Ürün Açıklaması</label>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <div class="mb-3">
        <select class="form-select" asp-for="CategoryId" asp-items="@ViewBag.categorySelect">
            <option value="">Kategori Seçiniz</option>
        </select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>

    <div class="mb-3">
        <label for="formFileLg" class="form-label">Ürünün Resmi</label>
        <input class="form-control form-control-lg" asp-for="Image" type="file">
    </div>

    <button class="btn btn-primary" type="submit">Ürün Güncelle</button>

</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}